@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Playpen+Sans+Thai:wght@100..800&display=swap");


.content {
  position: absolute;
  left: 3.8rem;
  width: calc(100% - 3.8rem);
  min-height: 100vh;
}

.navLink {
  position: fixed;
  list-style-type: none;
  z-index: 1;
  padding: 0 1.12rem;
  overflow: hidden;
  background-color: rgb(16, 41, 62);
  min-height: 100vh;
}

.navLink a {
  color: rgb(223, 223, 223);
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
}

.icon {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 6rem;
  color: whitesmoke;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
