.main {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgb(155, 155, 155);
  display: flex;
  align-items: center;
  padding:.82rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  a {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    color: orangered;
  }
}

.container {
  display: flex;
  gap: 0.9rem;

  span {
    cursor: pointer;
  }
}

